<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>red</key>
		<integer>0</integer>
		<key>green</key>
		<integer>0</integer>
		<key>blue</key>
		<real>0.8</real>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>11</key>
	<dict>
		<key>red</key>
		<real>0.8</real>
		<key>green</key>
		<integer>0</integer>
		<key>blue</key>
		<real>0.8</real>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>20</key>
	<dict>
		<key>red</key>
		<real>0.8</real>
		<key>green</key>
		<real>0.24</real>
		<key>blue</key>
		<real>0.14</real>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>22</key>
	<dict>
		<key>red</key>
		<real>0.6</real>
		<key>green</key>
		<real>0.47</real>
		<key>blue</key>
		<real>0.03</real>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>33</key>
	<dict>
		<key>red</key>
		<integer>0</integer>
		<key>green</key>
		<real>0.8</real>
		<key>blue</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>66</key>
	<dict>
		<key>red</key>
		<real>0.8</real>
		<key>green</key>
		<real>0.6</real>
		<key>blue</key>
		<real>0.2</real>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>132</key>
	<dict>
		<key>red</key>
		<integer>0</integer>
		<key>green</key>
		<integer>0</integer>
		<key>blue</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>275</key>
	<dict>
		<key>red</key>
		<real>0.8</real>
		<key>green</key>
		<integer>0</integer>
		<key>blue</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>400</key>
	<dict>
		<key>red</key>
		<integer>0</integer>
		<key>green</key>
		<integer>0</integer>
		<key>blue</key>
		<integer>8</integer>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
	<key>1000</key>
	<dict>
		<key>red</key>
		<real>0.6</real>
		<key>green</key>
		<integer>0</integer>
		<key>blue</key>
		<real>0.6</real>
		<key>alpha</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
